@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  color:#ffff;  
  box-sizing: border-box;
}
body{
  margin:30px;
  background-color: #111;
}
.nav{
  display: flex;
  justify-content: space-between;

}
ul li:hover{
  color:blue;
}
.form .input-field{
  border:2px solid rgb(57, 154, 181) ;
  border-radius: 10px; outline:none;
  text-align:center;
}
.input-p{
  font-size: 14px;
}
 .form-container{
  height:80vh;
   /* background-color: green;  */
 }

 .footer{
  text-align: center;
 margin-bottom: 3vh;
 }